<!-- <img class="wrapperBg" src="assets/images/bg.jpg" alt="background image"> -->
<div class="wrapper">
  <div class="header alignCenter">
    Charter Analytics Asset Subscription
  </div>
  <div class="content alignCenter">
    <div class="formHolder alignCenter">
        <app-subscribe [data]="data" style="width: 90%;" (url)="getUrl($event)" (desc)="getDesc($event)"></app-subscribe>
        <app-unsubscribe  [data]="data" style="width: 90%;"></app-unsubscribe>
    </div>
    <div class="descriptionHolder">
      <div *ngIf="desc || url" class="alignCenter" style="height: 100%; width: 100%; flex-direction: column">
        <img [src]="url" class="img-responsive" alt="Image" style="width: 50%">
        <div>{{desc}}</div>
      </div>
    </div>
  </div>
  <div class="footer">
    This is a sample footer
  </div>
</div>

<!-- <router-outlet></router-outlet> -->