<div class="wrapper">
  <div class="header alignCenter">
    Charter Analytics Asset Subscription
  </div>
  <div class="content alignCenter">
    <div class="subsriptionBox contentHolder ">
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Asset:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <select name="" id="input" class="form-control" required="required">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Metrics:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <select name="" id="input" class="form-control" required="required">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Cadence:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <select name="" id="input" class="form-control" required="required">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Email:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <input type="email" name="" id="input" class="form-control" value="" required="required" title="">
        </div>
      </div>
      <div class="row noMargin">
        <button type="button" class="btn btn-primary" style="float: right">Subscribe</button>
      </div>
    </div>
    <div class="unsubscriptionBox contentHolder">
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Asset:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <select name="" id="input" class="form-control" required="required">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row noMargin">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          Email:
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <input type="email" name="" id="input" class="form-control" value="" required="required" title="">
        </div>
      </div>
      <div class="row noMargin">
        <button type="button" class="btn btn-warning" style="float: right">Unsubscribe</button>
      </div>
    </div>
  </div>
  <div class="footer">
    The IP Traffic Growth and Pricing monthly analysis report provides stakeholders with detailed insights into the datat collection status, upstream/downstream volume of subscribers, package-wise split of traffic volume, peak data volumes and a month-over-month change in upstream/downstream traffic, for a month.
  </div>
</div>

<router-outlet></router-outlet>